[submodule "app/brookebrodack-site"]
	path = app/brookebrodack-site
	url = git@github.com:btakita/brookebrodack-site.git
	branch = main
[submodule "lib/domain--any--blog"]
	path = lib/domain--any--blog
	url = git@github.com:btakita/domain--any--blog.git
	branch = main
[submodule "lib/domain--any--brookebrodack"]
	path = lib/domain--any--brookebrodack
	url = git@github.com:btakita/domain--any--brookebrodack.git
	branch = main
[submodule "lib/domain--browser--brookebrodack"]
	path = lib/domain--browser--brookebrodack
	url = git@github.com:btakita/domain--browser--brookebrodack.git
	branch = main
[submodule "lib/domain--server--blog"]
	path = lib/domain--server--blog
	url = git@github.com:btakita/domain--server--blog.git
	branch = main
[submodule "lib/ui--any--blog"]
	path = lib/ui--any--blog
	url = git@github.com:btakita/ui--any--blog.git
	branch = main
[submodule "lib/ui--any--brookebrodack"]
	path = lib/ui--any--brookebrodack
	url = git@github.com:btakita/ui--any--brookebrodack.git
	branch = main
[submodule "lib/ui--browser--brookebrodack"]
	path = lib/ui--browser--brookebrodack
	url = git@github.com:btakita/ui--browser--brookebrodack.git
	branch = main
[submodule "lib/ui--server--blog"]
	path = lib/ui--server--blog
	url = git@github.com:btakita/ui--server--blog.git
	branch = main
[submodule "lib/ui--server--brookebrodack"]
	path = lib/ui--server--brookebrodack
	url = git@github.com:btakita/ui--server--brookebrodack.git
	branch = main
[submodule "lib/esmcss"]
	path = lib/esmcss
	url = git@github.com:esmcss/esmcss.git
	branch = main
[submodule "lib/dev-bin"]
	path = lib/dev-bin
	url = git@github.com:btakita/dev-bin.git
